<div class="row-fluid">
   <div id="search" class="span12 text">Search widgets</div>
</div>

<div class="row-fluid">
   <div id="results" class="span7">
      <% @replays.each do |replay| %>
	<div class="row-fluid bordered">
	    <div align="center" class="span2">
		    <% if replay.screenshotPath != '' %>
                       <%= image_tag "replay.screenshotPath", :size => "50x38", :alt => replay.screenshotPath %>
	            <% else %>
                       <%= image_tag "default_thumbnail.jpg", :size => "50x38", :alt => replay.screenshotPath %>
		    <% end %>
             </div>
	     <div class="span8">
		     <b><%= link_to replay.name, replay %></b></br>
               <%= replay.desc %>
             </div>
             <div class="span2">
		     <div class="statistic">Views:</div><div class="statistic">Likes:</div>
             </div>
        </div>
      <% end %>
   </div>
   <div id="results" class="span5">
      Tags, Ad, Messages
   </div>
</div>
