/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
  html { height: 100%; }
  body { height: 100%; padding: 0; overflow-y:auto; }
  .formlabel {font-size:90%; padding-top:6px; line-height:95%;}
  .text {padding-left: 5pt;}
  .small-text {padding-left: 5pt; font-size: 80%; font-weight: bold;}
  .bordered {border: 1px solid #CCC; border-radius:3px;}
  .statistic {font-size: 75%;}
  .smallformlabel {font-size:75%; padding-top:0px; line-height:95%;}
  input {font-size:75%;}
  #appForm { height: 100% } 
  #map_canvas {height: 450px } 
  #appForm {height: 100%}
  #lineTable {font-size: 90%}
  #headerRow {background: #6699FF; font-size: 200%; color:yellow; font-weight: bold; text-align:left; padding-top: 10pt; padding-bottom: 10pt; padding-left: 5pt; padding-right:5pt;}
  .headerLink:link{ color: yellow; } 
  .headerLink:visited{ color: yellow; } 
  .headerLink:hover{ color: yellow; } 
  .headerLink:active{ color: yellow; } 
  .bigtext { font-size: 200%; }
  .formlabel {font-size:90%; padding-top:6px; line-height:95%;}
  .smallformlabel {font-size:75%; padding-top:0px; line-height:95%;
